@import url('https://fonts.googleapis.com/css2?family=Tangerine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');


body {
    background-color: hsl(174, 100%, 99%);
    
    color: hsl(174, 8%, 35%);
    font-size: .938rem;
}

.main {
    background-image: url('../img/card-bg.jpg');
}

.tangerine {
    font-family: 'Tangerine', cursive;
}

.cinzel {
    font-family: 'Cinzel', serif;
}

.courgette {
    font-family: 'Courgette';
}

.cormorant {
    font-family: 'Cormorant Garamond', serif;
}